{% include head.html %}
<!-- Main container -->
<nav class="level has-text-centered">
    <!-- Left side -->
    <div data-aos="fade-up" class="level-left">
        <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Siti Realizzati Da Noi</p>
    </div>
    <!-- Right side -->
    <div data-aos="fade-up" class="level-right">
        <div data-aos="fade-up" class="level-item">
            {% include search.html %}
        </div>
    </div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</nav>