<section class="hero is-fullheight has-text-centered" id="contatti">
    <div class="hero-body">
        <div class="container">
            <h2 class="title is-size-2 has-text-weight-bold">Contattaci</h2>
            <br>
            <p class="subtitle is-size-5 has-text-grey">
                Eleva la vetrina del tuo business. Contattaci per un <strong>preventivo gratuito!</strong>
            </p>

            <!-- Pulsante Email -->
            <div class="container columns is-full is-multiline is-centered">
                <div>
                    <a href="mailto:info@weltweb.eu"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold is-two-fifths"
                        target="_blank"
                        id="contact-button">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span>Scrivici un'e-mail</span>
                        </span>
                    </a>
                </div>
                <div>
                    <a href="mailto:info@weltweb.eu?subject=Richiesta Preventivo"
                        class="button is-primary has-text-weight-semibold is-rounded is-uppercase has-text-weight-normal is-outlined is-two-fifths"
                        target="_blank"
                        id="contact-button">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-file-alt"></i>
                            </span>
                            <span>Richiedi un Preventivo</span>
                        </span>
                    </a>
                </div>
            </div>                                  

            <!-- Social Icons -->
            <div class="mt-5"> <!-- Aggiunto margine superiore -->
                <a href="https://www.instagram.com/weltweb" target="_blank" class="has-text-black mx-2">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/weltweb" target="_blank" class="has-text-black mx-2">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/company/weltweb" target="_blank" class="has-text-black mx-2">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</section>
