<section class="hero is-fullheight has-text-centered" id="contatti">
    <div class="hero-body is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
        <div class="container is-flex is-flex-direction-column is-align-items-center">

            <!-- Titolo -->
            <h2 class="title is-size-2 has-text-weight-bold mb-4">Contattaci</h2>

            <!-- Sottotitolo -->
            <p class="subtitle is-size-5 has-text-grey mb-5">
                Eleva la vetrina del tuo business. Contattaci per un <strong>preventivo gratuito!</strong>
            </p>

            <!-- Pulsanti Email e Preventivo -->
            <div class="buttons mt-4">
                <a href="mailto:info@weltweb.eu"
                    class="button is-rounded is-uppercase has-text-weight-semibold is-black is-outlined mx-2">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>Scrivici un'e-mail</span>
                    </span>
                </a>

                <a href="mailto:info@weltweb.eu?subject=Richiesta Preventivo"
                    class="button is-primary is-rounded is-uppercase has-text-weight-semibold is-outlined mx-2">
                    <span class="icon-text">
                        <span class="icon">
                            <i class="fas fa-file-alt"></i>
                        </span>
                        <span>Richiedi un Preventivo</span>
                    </span>
                </a>
            </div>

            <!-- Social Icons -->
            <div class="mt-5 is-flex is-justify-content-center">
                <a href="https://www.instagram.com/weltweb" target="_blank" class="has-text-black mx-3">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/weltweb" target="_blank" class="has-text-black mx-3">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/company/weltweb" target="_blank" class="has-text-black mx-3">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>

        </div>
    </div>
</section>
