<section class="hero is-fullheight has-text-centered" id="contatti">
    <div class="hero-body">
        <div class="container">
            <h2 class="title is-size-2 has-text-weight-bold">Contattaci</h2>
            <p class="subtitle is-size-5 has-text-grey">
                Eleva la vetrina del tuo business. Contattaci per un <strong>preventivo gratuito!</strong>
            </p>

            <!-- Pulsante Email -->
                <div class="container columns is-full is-full-desktop is-full-tablet is-full-fullhd is-full-widescreen is-multiline is-centered">
                    <div>
                        <a href="{{site.url}}{{site.baseurl}}/#contatti"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined columns is-two-fifths is-two-fifths-desktop is-two-fifths-tablet is-two-fifths-fullhd is-two-fifths-widescreen is-multiline is-offset-is-half" id="contact-button"><i class="fas fa-envelope"></i>Scrivici un'e-mail</a>
                        </a>
                    </div>
                    <div>
                        <a href="{{site.url}}{{site.baseurl}}/portfolio"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined columns is-two-fifths is-two-fifths-desktop is-two-fifths-tablet is-two-fifths-fullhd is-two-fifths-widescreen is-multiline is-offset-is-half" id="contact-button"><i class="fas fa-file-alt"></i> Richiedi un Preventivo</a>
                        </a>
                    </div>
                </div>

            <!-- Social Icons -->
            <div class="column is-full is-size-3 mt-5">
                <a href="https://www.instagram.com/weltweb" target="_blank" class="has-text-black mx-2">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/weltweb" target="_blank" class="has-text-black mx-2">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/company/weltweb" target="_blank" class="has-text-black mx-2">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</section>
