<head>
  <style>
    @font-face {
        font-family: 'Cinzel Decorative';
        src: url('https://weltweb.github.io/TemplateTest/assets/fonts/CinzelDecorative-Bold.woff2') format('woff2'),
             url('https://weltweb.github.io/TemplateTest/assets/fonts/CinzelDecorative-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
  </style>
  
  <!-- Typed.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
</head>

<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white is-size-1 has-text-weight-bold" style="font-family: 'Cinzel Decorative', serif;">
        WeltWeb
      </h1>  

      <!-- Testo animato con Typed.js -->
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        <span id="typed-text"></span>
      </h3>

      <hr>
      <a href="{{site.url}}{{site.baseurl}}/#chi-siamo" class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">
        Chi Siamo
      </a>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Verifica se l'elemento #typed-text esiste prima di eseguire Typed.js
    if (document.querySelector("#typed-text")) {
      new Typed("#typed-text", {
        strings: ["Esperienze digitali uniche", "Eleva il tuo sito web con noi", "Migliora la vetrina del tuo business", "Diamo vita alle tue idee"],
        typeSpeed: 50,
        backSpeed: 30,
        loop: true
      });
    } else {
      console.error("Elemento #typed-text non trovato!");
    }
  });
</script>